################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RW/RWLib/bin/Debug
/RW/.vs/RW/v15
/RW/RWApp/bin/Debug
/RW/RWLib/obj
/RW/RWApp/obj
/.vs
/WPFTestApplication/.vs/WPFTestApplication/v15
/WPFTestApplication/WPFTestApplication/bin/Debug
/WPFTestApplication/WPFTestApplication/obj/Debug
/DXTutorial/.vs/DXTutorial/v15/.suo
/DXTutorial/.vs/DXTutorial/v15/Browse.VC.db
/DXTutorial/.vs/DXTutorial/v15/Browse.VC.opendb
/DXTutorial/.vs/DXTutorial/v15/Server/sqlite3/db.lock
/DXTutorial/.vs/DXTutorial/v15/Server/sqlite3/storage.ide
/DXTutorial/.vs/DXTutorial/v15/Server/sqlite3/storage.ide-shm
/DXTutorial/.vs/DXTutorial/v15/Server/sqlite3/storage.ide-wal
/DXTutorial/.vs/DXTutorial/v15/Solution.VC.db
/DXTutorial/.vs/DXTutorial/v15/Solution.VC.db-shm
/DXTutorial/.vs/DXTutorial/v15/Solution.VC.db-wal
/DXTutorial/DXTutorial/x64/Debug/DXApp.obj
/DXTutorial/DXTutorial/x64/Debug/dxerr.obj
/DXTutorial/DXTutorial/x64/Debug/DXTutorial.log
/DXTutorial/DXTutorial/x64/Debug/DXTutorial.tlog/CL.command.1.tlog
/DXTutorial/DXTutorial/x64/Debug/DXTutorial.tlog/CL.read.1.tlog
/DXTutorial/DXTutorial/x64/Debug/DXTutorial.tlog/CL.write.1.tlog
/DXTutorial/DXTutorial/x64/Debug/DXTutorial.tlog/DXTutorial.lastbuildstate
/DXTutorial/DXTutorial/x64/Debug/DXTutorial.tlog/link.command.1.tlog
/DXTutorial/DXTutorial/x64/Debug/DXTutorial.tlog/link.read.1.tlog
/DXTutorial/DXTutorial/x64/Debug/DXTutorial.tlog/link.write.1.tlog
/DXTutorial/DXTutorial/x64/Debug/DXUtil.obj
/DXTutorial/DXTutorial/x64/Debug/Sprite.obj
/DXTutorial/DXTutorial/x64/Debug/vc141.idb
/DXTutorial/DXTutorial/x64/Debug/vc141.pdb
/DXTutorial/DXTutorial/x64/Debug/winmain.obj
/DXTutorial/x64/Debug/DXTutorial.exe
/DXTutorial/x64/Debug/DXTutorial.ilk
/DXTutorial/x64/Debug/DXTutorial.pdb
/Utilities/Backup/Backup/bin/Debug/Backup.exe
/Utilities/Backup/Backup/bin/Debug/Backup.exe.config
/Utilities/Backup/Backup/bin/Debug/Backup.pdb
/Utilities/Backup/Backup/bin/Debug/Backup.vshost.exe
/Utilities/Backup/Backup/bin/Debug/Backup.vshost.exe.config
/Utilities/Backup/Backup/bin/Debug/Backup.vshost.exe.manifest
/Utilities/Backup/Backup/obj/Debug/Backup.csproj.FileListAbsolute.txt
/Utilities/Backup/Backup/obj/Debug/Backup.csprojResolveAssemblyReference.cache
/Utilities/Backup/Backup/obj/Debug/Backup.exe
/Utilities/Backup/Backup/obj/Debug/Backup.pdb
/Utilities/Backup/Backup/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Utilities/Backup/Backup/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Utilities/Backup/Backup/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Utilities/Backup/Backup/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/x64/Debug/DXTutorial.exe
/x64/Debug/DXTutorial.ilk
/x64/Debug/DXTutorial.pdb
/DXTutorial/DXTutorial/x64/Debug/DXTutorial.Build.CppClean.log
