/Current/Console Application/.vs
/Current/Console Application/TheConsole/x64
/Current/Console Application/x64
/Current/Console Application/TheConsole/TheConsole.vcxproj.user
/.vs
/DXTutorial/.vs
/Archive/RW/.vs
/Archive/DXTutorial/DXTutorial/Debug
/Archive/DXTutorial/DXTutorial/DXTutorial.vcxproj.user
/Archive/DXTutorial/DXTutorial.VC.db
