################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RW/RWLib/bin/Debug
/RW/.vs/RW/v15
/RW/RWApp/bin/Debug
/RW/RWLib/obj
/RW/RWApp/obj
/.vs
/WPFTestApplication/.vs/WPFTestApplication/v15
/WPFTestApplication/WPFTestApplication/bin/Debug
/WPFTestApplication/WPFTestApplication/obj/Debug
/DXTutorial/.vs
/DXTutorial/DXTutorial/x64
/DXTutorial/x64
/Utilities/Backup/Backup/bin/Debug
/x64
/DXTutorial/DXTutorial/x64
/TheConsole/TheConsole.vcxproj.user
/TheConsole/x64
/TheProject.VC.db
